* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  height: 100vh;
  overflow: hidden;
}

/* CSS taken from animatedbackgrounds.me (Codepen: https://codepen.io/kinglisky/pen/pejopv) */
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(
    to bottom,
    rgba(14, 65, 102, 0.86),
    #0e4166
  );
  z-index: -100;
}

.wallpaper {
  position: relative;
  height: 92%;
  /* background-image: url("https://wallpapercave.com/wp/wp7283040.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.wallpaper__icon {
  height: 50px;
  width: 50px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 2em;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
}

.wallpaper__icon--animate {
  margin-left: 10em;
}

.wallpaper__icon:hover {
  transform: translateX(5px);
}

.appPreview {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -20%);
  height: 65vh;
  width: 55%;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 100;
}

.appPreview--display {
  top: 20%;
}

.appPreview__header {
  background: #212121;
  margin-inline: auto;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: fit-content;
}

.appPreview__image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.taskbar {
  height: 8%;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
}

.taskbar__middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar__input {
  margin-inline: 3px;
  padding: 8px 5px;
  outline: none;
  border: none;
  border-radius: 10rem;
}

.taskbar__right-timedate {
  text-align: right;
  color: #fff;
  padding-inline: 5px;
}

.taskbar__icon {
  height: 45px;
  width: 45px;
  cursor: pointer;
  background: none;
  transition: all 0.5s ease;
  padding: 7px;
  margin-right: 5px;
}

.taskbar__icon-small {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background: none;
  transition: all 0.5s ease;
  padding: 7px;
}

.taskbar__icon--active {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-2.5px);
}

.taskbar__icon:hover,
.taskbar__icon-small:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-2.5px);
}
